- var host = "http://155.133.24.23:1200/"
- var host_imgs = "http://155.133.24.23:1200/assets/img/email_template/"
doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		title Rejestracja
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="cache-control" content="max-age=0" )
		meta(http-equiv="cache-control" content="no-cache" )
		meta(http-equiv="expires" content="0" )
		meta(http-equiv="pragma" content="no-cache" )
		style
			| @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
			| a { text-decoration: none; }
	body(style="margin: 0; padding: 0;")
		table(border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; color: #1f1f1f;")
			tr
				td(style="padding: 20px 30px;")
					span(style="font-size: 14px; font-family: 'Open Sans', sans-serif;")
						| Witam, <br><br>
						| Powiem Panu jak wygląda sytuacja.<br>
						| Na naszej stronie mamy banery reklamowe oraz wyselekcjonowane reklamy typu popup (bez reklam dla dorosłych, zamykania strony i otwierania ponownie).<br>
						| Problemem są hostingi, które są osadzane na naszej stronie i to właśnie na tych stronach znajdują się<br>
						| materiały wideo bo my takich nie przechowujemy na serwerach.<br>
						| Dalej na te hostingi użytkownicy wrzucają swoje materiały wideo i dodaja link do nich na naszej stronie.<br>
						| Użytkownicy Ci zarabiają wrzucając tam materiały właśnie na tych obrzydliwych (też ich nie lubię) reklamach.<br>
						| Również użytkownicy mogą włączyć opcje wymuszającą wyłączenie adblocka.<br><br>
						| Jedyne co mogę poradzić to sposób na omijanie blokady.<br>
						| Wyłączyć adblocka załadować wideo i nic nie klikać. Włączyć adblocka. Kliknąć play.<br><br>
						| Na dniach wprowadzamy usługę premium, która usuwa reklamy ze strony oraz większości hostingów.<br><br>
						| Pozdrawiam,<br>
						| Adam Sewastianiuk<br>



						





							


