- var host = "http://155.133.24.23:1200/"
- var host_imgs = "http://155.133.24.23:1200/assets/img/email_template/"
doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		title Rejestracja
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="cache-control" content="max-age=0" )
		meta(http-equiv="cache-control" content="no-cache" )
		meta(http-equiv="expires" content="0" )
		meta(http-equiv="pragma" content="no-cache" )
		style
			| @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
			| a { text-decoration: none; }
	body(style="margin: 0; padding: 0;")
		table(align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; color: #1f1f1f;")
			tr
				td(style="padding: 12px 0; border-bottom: 3px solid #00a3ff;")
					img(src="cid:logo" width="116" height="36" style="display: block; padding-left: 30px;")
			tr
				td(style="padding: 20px 30px; font-weight: 600;")
					span(style="font-size: 18px; font-family: 'Open Sans', sans-serif;") Nasza
						span(style="color: #0074b6; font-family: 'Open Sans', sans-serif;")  odpowiedź
					br
					br
					span(style="font-size: 14px; font-family: 'Open Sans', sans-serif;")
						| Witam, <br><br>
						| Prawdopodobnie nasza strona trafiła na czarna liste tego antywirusa.<br>
						| Jest to spowodowane tym, że po wejsciu na strone odpala sie automatycznie 1 link, a playery bardzo często maja reklamy zachęcające do pobrania niebezpiecznych programów.<br>
						| Rozwiązaniem może być dodanie strony do wyjątków w ustawieniach antywirusa.<br>
						| Więcej na tem temat znajdzie pan tutaj. http://support.kaspersky.com/pl/9734#block4<br>
						| Pozdrawiam
					br
					br
					span(style="font-size: 14px; font-weight: 300; font-family: 'Open Sans', sans-serif;")
						| Nie odpowiadaj na tę wiadomość. <br>
						| Jeśli chcesz odnieść się do tej odpowiedzi ponownie napisz w sekcji kontakt 
						a(href="http://filiser.pl/kontakt" target="_blank" style="color: #0074b6; font-family: 'Open Sans', sans-serif; font-weight: 600;") TU 
						| lub przez prywatną wiadomość na facebooku.
					br
					br
					span(style="font-size: 14px; font-family: 'Open Sans', sans-serif;") Sarda<br> 
					span(style="font-size: 14px; font-family: 'Open Sans', sans-serif;") Team 
						a(href="http://filiser.pl" target="_blank" style="color: #0074b6; font-family: 'Open Sans', sans-serif;") Filiser.pl
		table(align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; font-family: 'Open Sans', sans-serif;")
			tr(style="background-color: #202020")
				td(style="padding: 5px 30px; width: 310px;")
					a(href="https://www.facebook.com/filiserpl" target="_blank")
						img(src="cid:fb" width="27" height="27" style="display: block;" title="Facebook - Filiser.pl")
				td(style="padding: 5px 30px;")
					a(href="http://filiser.pl" target="_blank" style="font-size: 12px; color: #757575; font-weight: 300; padding-right: 10px; font-family: 'Open Sans', sans-serif;") Home
					a(href="http://filiser.pl/filmy" target="_blank" style="font-size: 12px; color: #757575; font-weight: 300; padding-right: 10px; font-family: 'Open Sans', sans-serif;") Filmy
					a(href="http://filiser.pl/seriale" target="_blank" style="font-size: 12px; color: #757575; font-weight: 300; padding-right: 10px; font-family: 'Open Sans', sans-serif;") Seriale
					a(href="http://filiser.pl/kontakt" target="_blank" style="font-size: 12px; color: #757575; font-weight: 300; font-family: 'Open Sans', sans-serif;") Kontakt
							


