extend main
block content
	#contact_page.box
		.container
			h2.title Kontakt
			p(style="padding-bottom: 40px;") Prosimy o kontakt pod adresem: <a href="mailto:kontakt@fili.cc" style="color: #20da24">kontakt@fili.cc</a>.

			//-script(src="https://rtbnow.com/js/pk.js")

		//- .container
		//- 	h2.title Formularz kontaktowy

		//- 	form#contactForm
		//- 		fieldset
		//- 			.line
		//- 				span.formTitle(style="width: 118px") Temat
		//- 				input.input(type="text" name="title" tabindex="2" placeholder="Temat wiadomości" style="width: 520px" autofocus)
		//- 				.clear

		//- 			.line
		//- 				span.formTitle(style="width: 118px") Adres e-mail
		//- 				input.input(type="text" name="email" tabindex="3" placeholder="Adres e-mail" style="width: 520px")
		//- 				.clear

		//- 			.line
		//- 				span.formTitle(style="line-height: 15px; width: 118px") Wiadomość
		//- 				textarea.area(name="message" onkeyup="MAIN.resizeArea(this)" tabindex="4" placeholder="Wiadomość..." style="resize:none; width: 528px; max-width: 528px;")
		//- 				.clear

		//- 			.line
		//- 				div(class="g-recaptcha" data-sitekey=RECAPTCHA_SITE_KEY data-theme="dark" data-tabindex="5" style="float: right")
		//- 				.clear

		//- 			input.but(type="submit" value="Wyślij" style="float: right" tabindex="6")
		//- 			.clear
























			

