extend main
block content
	#hosts_page.box
		.container
			h2.title Obsługiwane hostingi i ich prawidłowe formaty

			h3.host - verystream
			ul 
				li https://verystream.com/stream/VIDEO_ID
				li https://verystream.com/e/VIDEO_ID  

			h3.host - gounlimited
			ul 
				li https://gounlimited.to/VIDEO_ID/VIDEO_NAME
				li https://gounlimited.to/embed-VIDEO_ID.html

			h3.host - streamango
			ul 
				li https://streamango.com/f/VIDEO_ID
				li https://streamango.com/embed/VIDEO_ID

			h3.host - streamcherry
			ul 
				li https://streamcherry.com/f/VIDEO_ID
				li https://streamcherry.com/embed/VIDEO_ID

			h3.host - openload
			ul 
				li https://openload.co/f/VIDEO_ID
				li https://openload.co/embed/VIDEO_ID

			h3.host - rapidvideo
			ul 
				li https://www.rapidvideo.com/?v=VIDEO_ID
				li https://www.rapidvideo.com/embed/VIDEO_ID
				li https://www.rapidvideo.com/v/VIDEO_ID
				li https://www.rapidvideo.com/e/VIDEO_ID

			h3.host - vidoza
			ul 
				li http://vidoza.net/VIDEO_ID.html
				li http://vidoza.net/embed-VIDEO_ID.html

			h3.host - cda
			ul 
				li http://www.cda.pl/video/VIDEO_ID
				li http://ebd.cda.pl/640x360/VIDEO_ID


			













