extend main
block content
	#privacy_policy_page.box
		.container
			h2.title Polityka Prywatności

			h3.subTitle Fili.cc
			p szanuje prywatność swoich użytkowników. Przeczytaj dokładnie poniższe informacje aby lepiej zapoznać się z naszą polityką prywatności.

			h3.subTitle Cookies (ciasteczka)
			p.smallLne Cookies to małe pliki tekstowe wykorzystywane do zapisywania pewnych informacji na Twoim komputerze.
			p.smallLne Stosowanie plików "cookies" ma na celu poprawne działanie Stron Internetowych Serwisu na urządzeniach końcowych Użytkowników. Mechanizm ten nie niszczy urządzenia końcowego Użytkownika oraz nie powoduje zmian konfiguracyjnych w urządzeniach końcowych Użytkowników ani w oprogramowaniu zainstalowanym na tych urządzeniach. „Cookies” nie mają na celu identyfikacji Użytkowników.
			p.smallLne Stosujemy pliki "cookies" w celu:
			ul(style="margin-left: 20px; margin-bottom: 15px;")
				li zbierania danych statystycznych;
				li umożliwienia użytkownikom pozostania zalogowanym po wyłączeniu przeglądarki;
				li zapamiętania informacji o urządzeniach końcowych Użytkowników;
			p.smallLne Użytkownik może wyłączyć mechanizm „cookies” w przeglądarce internetowej swojego urządzenia końcowego. Wyłączenie „cookies” może jednak spowodować utrudnienia lub uniemożliwić korzystanie ze Stron Internetowych Serwisu.
			p Informacje o tym jak wyłączyć mechanizm „cookies” można znaleść w ustawieniach lub pomocy do swojej przeglądarki internetowej.

			h3.subTitle Prawa autorskie
			p Fili.cc zawiera tylko i wyłącznie linki do innych stron www wraz z krótkim opisem. Treści zawarte na tych stronach są własnością ich autorów i podlegają ochronie prawem autorskim.

			h3.subTitle Zastrzeżenia prawne i odpowiedzialność
			p Wszelkie materiały zawarte w serwisie Fili.cc są bezpłatne. Użytkownicy oraz zespół serwisu Fili.cc nie odpowiadają za ewentualne szkody wynikłe z ich korzystania. Fili.cc zastrzega sobie możliwość edycji i usuwania wpisów oraz blokowania użytkowników, którzy naruszają regulamin serwisu.

			h3.subTitle Wyłączenie odpowiedzialności
			p Polityka Prywatności nie dotyczy serwisów, firm oraz osób, których dane kontaktowe są ogólnie dostępne na stronach serwisu. Autorzy serwisu nie ponoszą odpowiedzialności za opinie wyrażane przez użytkowników w komentarzach lub opisach. Są one wyłącznie własnością ich autorów, w związku z czym nie mogą rzutować na opinię autorów serwisu.

			h3.subTitle Gromadzenie danych osobowych oraz obowiązek informacyjny RODO
			p Administratorem Danych Osobowych jest hapz Media Adam Sewastianiuk ul. Wiejska 71/21 15-351 Białystok NIP: 9662109545 REGON: 366428786
			p.smallLne Administrator przetwarza Państwa dane osobowe w celu realizacji umowy / usług, w tym również w celu udzielania wsparcia technicznego – pomocy technicznej, zapewnienia bezpieczeństwa transakcji i dostosowania Portalu do preferencji i oczekiwań użytkownika.
			p.smallLne <i class="fa fa-arrow-right"></i> Podstawą prawną przetwarzania danych osobowych jest:
			p.smallLne(style="padding-left: 20px;") - Art. 6 ust. 1 lit. b) RODO - przetwarzanie jest niezbędne do wykonania umowy, której stroną jest osoba, której dane dotyczą, lub do podjęcia działań na żądanie osoby, której dane dotyczą, przed zawarciem umowy;
			p.smallLne <i class="fa fa-arrow-right"></i> Przetwarzane są w szczególności następujące dane:
			ul(style="margin-left: 20px; margin-bottom: 15px;")
				li login
				li e-mail
				li adresy IP rejestracji, logowania, itp.
			p.smallLne Powyższe dane wraz z innymi danymi „technicznymi” pozyskanymi podczas korzystania z Portalu, mogą być wykorzystane do profilowania preferencji użytkowników, zgodnie z ideą funkcjonalności tego rodzaju Portali (chodzi np. o preferencje co do filmów).
			p.smallLne [Czas przetwarzania] Państwa dane osobowe zazwyczaj będą przetwarzane przez czas wykonania umowy – w celu wykonania umowy (Art. 6 ust. 1 lit. b) RODO), jak również w celach wynikających z prawnie uzasadnionych interesów realizowanych przez Administratora lub przez stronę trzecią (Art. 6 ust. 1 lit. f) RODO). Po wykonaniu / zakończeniu umowy, dane będą przetwarzane dalej – jednakże w celach archiwizacyjnych, na podstawie art. 74 ustawy z dnia 29 września 1994 r. o rachunkowości (Art. 6 ust. 1 lit. c) RODO).
			p.smallLne [Przekazywanie innym podmiotom] Państwa dane osobowe mogą być przekazywane innym podmiotom, w celu wykonania umowy / wykonania usługi (Art. 6 ust. 1 lit. b) RODO), jak również w celach określonych w art. Art. 6 ust. 1 lit. f) RODO. Administrator osswiadcza, że nie przekazuje Danych do pansstwa trzeciego lub organizacji miedzynarodowej (czyli poza Europejski Obszar Gospodarczy („EOG”). Administrator osswiadcza roswnież, że nie korzysta z podwykonawcosw, ktosrzy przekazują dane poza EOG. W przypadku, gdyby sytuacja sie zmieniła, w przypadku zajścia konieczności korzystania z podwykonawców albo partnerów spoza EOG, Administrator oświadcza, iż przy pomocy odpowiednich umów zapewni by takie podmioty trzecie spełniały adekwatnie wymogi RODO.
			p.smallLne [Państwa prawa]
			p.smallLne <i class="fa fa-arrow-right"></i> Możesz uzyskać informacje, czy przetwarzamy Twoje dane osobowe.
			ul(style="margin-left: 20px; margin-bottom: 15px;")
				li Jeśli tak - możesz uzyskać do nich dostęp, np. poprosić o kopię. Możesz również uzyskać szczegółowe informacje m.in. o tym, jakie twoje dane są przetwarzane i w jakim celu, komu są przekazywane. Jeśli sam nie przekazałeś danych tej firmie/instytucji - możesz także poprosić o informacje, skąd znalazły się w tej konkretnej firmie.
				li Możesz również poprosić o usunięcie lub ograniczenie przetwarzania swoich danych. Oczywiście nie w każdym przypadku. Gdy mamy z Tobą zawartą umowę to możemy je przetwarzać zgodnie z przepisami prawa i Twoja prośba nie będzie skuteczna. Jeśli jednak są one przetwarzane niezgodnie z prawem lub nie ma podstaw do ich przetwarzania - Twoje dane powinny być usunięte.
				li Jeśli uważasz, że Twoje prawa są łamane - możesz wnieść skargę do organu nadzorczego zajmującego się ochroną danych osobowych.
			p.smallLne <i class="fa fa-arrow-right"></i> Ponadto, jeżeli Administrator przetwarza Państwa dane osobowe:
			ul(style="margin-left: 20px; margin-bottom: 15px;")
				li Przysługuje Pani/Panu prawo dostepu do swoich danych osobowych oraz prawo żądania ich sprostowania, usuniecia lub ograniczenia ich przetwarzania;
				li W zakresie, w jakim podstawą przetwarzania Pani/Pana danych osobowych jest przesłanka prawnie uzasadnionego interesu Administratora, przysługuje Pani/Panu prawo wniesienia sprzeciwu wobec przetwarzania Pani/Pana danych osobowych;
				li W szczegoslnossci przysługuje Pani/Panu prawo sprzeciwu wobec przetwarzania danych na potrzeby marketingu bezpossredniego oraz profilowania;
				li W zakresie, w jakim podstawą przetwarzania Pani/Pana danych osobowych jest zgoda, ma Pani/Pan prawo wycofania zgody. Wycofanie zgody nie ma wpływu na zgodnosscs z prawem przetwarzania, ktosrego dokonano na podstawie zgody przed jej wycofaniem.
				li W zakresie, w jakim Pani/Pana dane są przetwarzane w celu zawarcia i wykonywania umowy lub przetwarzane na podstawie zgody przysługuje Pani/Panu oraz prawo do przenoszenia danych, tj. do otrzymania od administratora Pani/Pana danych osobowych w ustrukturyzowanym, powszechnie używanym formacie nadającym sie do odczytu maszynowego.
				li W celu skorzystania z powyższych praw należy skontaktowac się z administratorem danych pod adresem kontakt@fili.cc. 


