doctype
html(lang="pl")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		if google_index
			meta(name="robots" content="noarchive")
		else
			meta(name="robots" content="noindex")
		
		title= HOSTNAME


		//icons
		link(rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon-180x180.png")
		link(rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/assets/img/favicon/android-chrome-192x192.png" sizes="192x192")
		link(rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="/assets/img/favicon/manifest.json")

		//-link(rel="stylesheet" type="text/css" href="/assets/css/style."+VERSION+".css") 
		link(rel="stylesheet" type="text/css" href="/assets/css/style.css")

		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")

		//-link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
	body.preload
		header#header 
			.container
				a#logo(href="/" tabindex="-1")
					img(src="/assets/img/logo2.png" width="58" height="36" alt="Logo")


		.container(style="padding-top: 40px;")
			span(style="width: 100%; text-transform: uppercase; line-height: 20px;") You cannot access this page from your country.
		

		//- .container(style="padding-top: 40px;")
		//- 	span(style="width: 100%; text-transform: uppercase; line-height: 20px;") DUE TO RECEIVED MPAA (Motion Picture Association of America)<br>NOTICE OF COPYRIGHT INFRINGEMENT, THE SCOPE OF SERVICES<br>OF OUR WEBSITE HAS BEEN PERMANENTLY LIMITED TO THE<br>EXTENT THAT FULLY COMPLIES WITH INTERNATIONAL LAW.<br><br>PLEASE USE THIS RESOURCE TO FIND ANY FILM:<br>
		//- 	a.greenLink(href="http://www.findanyfilm.com/" rel="nofollow") http://www.findanyfilm.com/



