extend main
block content
	#rules_page.box
		.container
			h2.title Regulamin

			p Regulamin świadczenia usług drogą elektroniczną za pośrednictwem Serwisu internetowego Fili.cc

			h3.subTitle Definicje.
			p.smallLne Użyte w Regulaminie pojęcia oznaczają:
			ul(style="padding-bottom: 20px;")
				li Hasło - ciąg liter, cyfr lub znaków specjalnych, konieczny do dokonania autoryzacji w trakcie uzyskiwania dostępu do Konta Użytkownika, ustalany samodzielnie przez Użytkownika podczas procesu Rejestracji;
				li Użytkownik – osoba dokonująca Rejestracji, która ukończyła 13 lat oraz posiada pełną zdolność do czynności prawnych, a także osoba prawna oraz jednostka organizacyjna niebędąca osobą prawną, której przepisy szczególne przyznają zdolność prawną (w tym również Konsument w rozumieniu Kodeksu cywilnego);
				li Konsument – osoba fizyczna dokonująca z przedsiębiorcą czynności prawnej niezwiązanej bezpośrednio z jej działalnością gospodarczą lub zawodową;
				li Konto (Konto Użytkownika) – podstrona Serwisu Fili.cc, w ramach której Użytkownik ma możliwość m.in. udostępniania odnośników (linków) do materiałów zamieszczonych w serwisach Użytkownika lub Podmiotów trzecich, do której dostęp Użytkownika możliwy jest wyłącznie po zaakceptowaniu Regulaminu Serwisu Fili.cc i dokonaniu przez niego jednorazowej Rejestracji oraz po każdorazowym zalogowaniu, polegającym na podaniu Loginu i Hasła;
				li Login - ciąg liter, cyfr lub znaków specjalnych, konieczny do uzyskania dostępu do Konta Użytkownika, ustalany samodzielnie przez Użytkownika podczas procesu Rejestracji;
				li Podmiot trzeci – osoba fizyczna, osoba prawna, a także jednostka organizacyjna niebędąca osobą prawną, której przepisy szczególne przyznają zdolność prawną, która nie jest Usługodawcą lub Użytkownikiem;
				li Regulamin – niniejszy Regulamin świadczenia usług drogą elektroniczną;
				li Rejestracja – jednorazowa czynność, polegająca na założeniu przez Użytkownika Konta Użytkownika, dokonana z wykorzystaniem formularza Rejestracji udostępnionego przez Usługodawcę na stronie Serwisu Fili.cc. Rejestracja następuje poprzez zaakceptowanie formularza Rejestracji oraz zaakceptowanie Regulaminu Serwisu Fili.cc, udostępnianych na jednej z podstron Serwisu Fili.cc, po wypełnieniu odpowiednich rubryk formularza wymaganymi danymi, stosownie do postanowień Regulaminu;
				li Serwis Fili.cc – serwis internetowy dostępny w domenie Fili.cc, zawierający m.in. udostępnione przez Użytkowników odnośniki (linki) do materiałów zamieszczonych w serwisach Użytkownika lub Podmiotów trzecich, a także opisy oraz komentarze Użytkowników dotyczące tych odnośników.
				li Strona/y – Usługodawca i Użytkownik; 
				li Usługa (Usługi) – usługa świadczona przez Usługodawcę drogą elektroniczną na zasadach określonych w Regulaminie w ramach Serwisu Fili.cc; 
				li Usługodawca – Właściciel hapz Media Adam Sewastianiuk ul. Wiejska 71/21 15-351 Białystok NIP: 9662109545 REGON: 366428786

			h3.subTitle Postanowienia ogólne.
			p.smallLne Regulamin określa zasady korzystania przez Użytkowników z Serwisu Fili.cc.
			p.smallLne Niniejszy Regulamin jest regulaminem, o którym mowa w art. 8 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną.
			p.smallLne Usługodawca za pośrednictwem Serwisu Fili.cc świadczy usługi drogą elektroniczną, które obejmują usługi:

			ul(style="padding-bottom: 10px;")
				li założenia i utrzymania Konta Użytkownika w Serwisie Fili.cc,
				li umożliwienia Użytkownikom uzupełniania bazy danych Serwisu Fili.cc o odnośniki (linki) do materiałów zamieszczonych w serwisach Użytkownika lub Podmiotów trzecich oraz przypisania ich do odpowiedniej kategorii,
				li umożliwienia Użytkownikowi dodawania opisów, komentarzy i zdjęć do udostępnionych odnośników,
				li umożliwienia Użytkownikom oceniania materiałów znajdujących się w sieci Internet w miejscu, do którego odsyła odnośnik (link) oraz oznaczania kategorii jako „obejrzanych”.

			p.smallLne W celu dokonania Rejestracji Użytkownik ma obowiązek oświadczyć, że akceptuje postanowienia Regulaminu Serwisu Fili.cc, w tym postanowienia nakazujące uzyskanie zgody uprawnionych podmiotów w przedmiocie korzystania przez Użytkowników za pośrednictwem Serwisu Fili.cc z odnośników do materiałów chronionych prawami autorskimi na rzecz osób trzecich, w tym ich kopiowania, przesyłania i publicznego udostępnianie w Internecie.
			p.smallLne Udostępniając w Serwisie Fili.cc odnośniki (linki) do materiałów zamieszczonych w serwisach Użytkownika lub Podmiotów trzecich, Użytkownik ma obowiązek oświadczyć, że posiada prawo do rozpowszechniania ww. odnośnika, a rozpowszechnianie to nie narusza postanowień Regulaminu Serwisu Fili.cc. W przypadku braku złożenia ww. oświadczenia udostępnienie odnośnika w Serwisie Fili.cc jest niemożliwe.
			p.smallLne Użytkownik jest bezwzględnie zobowiązany do przestrzegania postanowień Regulaminu.
			p.smallLne W przypadku uzasadnionego podejrzenia, że udostępnienie przez Użytkownika odnośnika do materiałów zamieszczonych w serwisach Użytkownika lub Podmiotów trzecich nastąpiło z naruszeniem obowiązujących przepisów prawa, w tym z naruszeniem uprzednio zaakceptowanego przez Użytkownika Regulaminu Serwisu Fili.cc, Usługodawca zastrzega sobie prawo uniemożliwienia Użytkownikowi uzupełnienia bazy danych Serwisu Fili.cc o odnośnik do materiałów zamieszczonych w serwisach Użytkownika lub Podmiotów trzecich, pomimo zawartej pomiędzy Stronami Umowy.
			p.smallLne Niezależnie od pkt ww. Usługodawca zastrzega sobie prawo usunięcia komentarzy, awatarów, zdjęć, opisów oraz odnośników udostępnianych w Serwisie Fili.cc w przypadku stwierdzenia, iż mogą one naruszać chronione prawem dobra Podmiotów trzecich lub naruszają dobre obyczaje.
			p.smallLne Regulamin nie znajduje zastosowania w stosunku do świadczenia usług na rzecz Użytkownika za pośrednictwem Serwisu Fili.cc przez Podmioty trzecie, które ponoszą w tym zakresie pełną i wyłączną odpowiedzialność, chyba że dokonano odmiennego zastrzeżenia w treści regulaminów szczegółowych takich usług.
			p.smallLne Prawa autorskie i prawa własności przemysłowej w zakresie nazwy, domeny, logotypu i oprogramowania Serwisu Fili.cc przysługują Usługodawcy.
			p Usługodawca informuje, iż z uwagi na charakter Usług świadczonych na podstawie Regulaminu, mogą one być świadczone anonimowo lub z wykorzystaniem pseudonimu, zgodnie z postanowieniami ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną.


			h3.subTitle Zakres, warunki i zasady korzystania z Serwisu Fili.cc.

			p.smallLne Usługodawca zobowiązuje się do świadczenia nieodpłatnie Usługi w zakresie i na warunkach określonych w niniejszym Regulaminie.
			p.smallLne Usługodawca zastrzega sobie prawo do modyfikowania technicznego sposobu realizacji Usługi, stosownie do zakresu i warunków wynikających z posiadanych uprawnień, a także odpowiednio do posiadanych możliwości technicznych, bez pogarszania jej jakości, a także bez wpływu na zakres praw i obowiązków Stron.
			p.smallLne Usługodawca nie jest dostawcą usługi dostępu do sieci Internet ani dostawcą innych publicznie dostępnych usług telekomunikacyjnych w rozumieniu ustawy z dnia 16 lipca 2004 r. Prawo telekomunikacyjne. Użytkownik powinien we własnym zakresie uzyskać dostęp do stanowiska komputerowego lub urządzenia końcowego, za pomocą którego możliwe jest skorzystanie z Usługi.
			p.smallLne Użytkownik zobowiązany jest w szczególności do:
			ul(style="padding-bottom: 10px;")
				li korzystania z Usług oferowanych przez Usługodawcę w sposób nie zakłócający jego funkcjonowania, w szczególności poprzez użycie określonego oprogramowania lub urządzeń,
				li korzystania z Usług oferowanych przez Usługodawcę w sposób zgodny z przepisami obowiązującego na terytorium Rzeczypospolitej Polskiej prawa, postanowieniami Regulaminu, a także z przyjętymi w danym zakresie zwyczajami,
				li niedostarczania i nieprzekazywania treści zabronionych przez przepisy obowiązującego prawa,
				li zachowania w poufności Hasła i Loginu,
				li korzystania z wszelkich treści zamieszczonych w ramach Serwisu Fili.cc jedynie w zakresie własnego użytku osobistego w rozumieniu ustawy z dnia z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych. Wykorzystywanie treści w innym zakresie jest dopuszczalne wyłącznie na podstawie wyraźnej zgody udzielonej przez uprawnioną osobę w formie pisemnej pod rygorem nieważności. 

			p.smallLne Usługodawca może pozbawić Użytkownika prawa do korzystania z Serwisu Fili.cc, jak również może ograniczyć jego dostęp do części lub całości bazy danych Serwisu Fili.cc lub usług oferowanych w jego ramach, ze skutkiem natychmiastowym, w przypadku gdy Użytkownik podczas korzystania z Serwisu Fili.cc dopuści się czynów, które są niezgodne z obowiązującymi przepisami prawa. 
			p.smallLne Umowa o świadczenie Usług drogą elektroniczną (tj. utrzymywanie Konta Użytkownika), której integralną częścią jest niniejszy Regulamin, zostaje zawarta z momentem skutecznego wypełnienia i zaakceptowania (poprzez naciśnięcie odpowiedniego przycisku) przez Użytkownika formularza Rejestracji. Umowa zawierana jest na czas nieokreślony.
			p.smallLne W trakcie Rejestracji Użytkownik dokonuje czynności, na które składa się co najmniej:
			ul(style="padding-bottom: 10px;")
				li potwierdzenie, że zapoznał się on z treścią Regulaminu oraz że akceptuje on jego postanowienia,   
				li wypełnienie formularza dostępnego na stronie Serwisu Fili.cc, 
				li podanie co najmniej Loginu, Hasła oraz adresu e-mail,
				li uzyskanie dostępu do Konta z wykorzystaniem Loginu oraz Hasła.
			p.smallLne Wraz z dokonaniem Rejestracji Użytkownik uzyskuje dostęp do Konta, który jest każdorazowo zapewniany przez Usługodawcę po wpisaniu przez Użytkownika Loginu i Hasła.
			p Użytkownik ponosi wyłączną odpowiedzialność za treść podanych przez siebie danych, jak również za wybór Hasła, w tym również odpowiedzialność za ewentualne naruszenie praw osób trzecich w związku z wyborem Loginu i Hasła. Użytkownik ponosi również wyłączną odpowiedzialność związaną z ujawnieniem innym osobom swojego Loginu i/lub Hasła.

			h3.subTitle Tryb i sposób składania reklamacji.

			p.smallLne Każdemu Użytkownikowi Portalu przysługuje prawo do złożenia reklamacji w sprawach związanych z funkcjonowaniem Portalu.
			p.smallLne Reklamacje należy składać drogą elektroniczną na adres maila Administratora (lub poprzez stosowny formularz kontaktowy) lub listownie na adres pocztowy Administratora.
			p.smallLne Administrator rozpatrzy reklamację w terminie 14 dni od dnia jej otrzymania.
			p.smallLne Odpowiedź na reklamację zostanie przesłana do Użytkownika na adres podany przez Użytkownika w reklamacji.
			p.smallLne Administrator zastrzega sobie prawo do wydłużenia terminu w przypadku, gdy rozpoznanie reklamacji wymaga wiadomości specjalnych, lub napotka przeszkody z przyczyn od niego niezależnych (awarie sprzętu, sieci internetowej itp.).
			p Administrator ponadto zastrzega, że rozpatrzenie reklamacji może wymagać uzyskania od Użytkownika dodatkowych wyjaśnień - czas udzielania wyjaśnień przez Użytkownika każdorazowo przedłuża okres rozpoznania reklamacji.


			h3.subTitle Usługa premium


			p.smallLne Każdy użytkownik może wykupić dodatkową usługę premium dzięki której otrzymuje dodatkowe możliwości: brak reklam w serwisie, dedykowany player* bez limitów, wcześniejszy dostęp do nowości w serwisie.<br>* nie gwarantujemy dostępności playera premium w każdym filmie i serialu.
			p.smallLne Użytkownik oświadcza, iż rozumie, że zgoda na natychmiastowe dostarczenie treści cyfrowych, zgodnie z powyższym, oznacza dla niego brak prawa do odstąpienia przez Użytkownika od umowy na zasadzie skorzystania z uprawnienia ustawy o prawach konsumenta – art. 38 pkt 13 tejże ustawy).
			p.smallLne Użytkownik ma prawo do reklamacji w przypadku jeśli z jakiś powodów technicznych uniemożliwia mu to aktywację swojego kodu. W takim przypadku prosimy o kontakt.
			p.smallLne System płatnosci SMS obsługuje <a href="https://simpay.pl" class="greenLink" target="_blank">simpay.pl</a>.
			p Jeśli Użytkownik nie otrzymał kodu zwrotnego w ciągu 30 minut powinien skorzystać z <a href="https://simpay.pl/reklamacje" class="greenLink" target="_blank">formularza reklamacyjnego</a>.

			p.smallLne System płatności przelewem obsługuje <a href="https://www.rushpay.pl" class="greenLink" target="_blank">rushpay.pl</a>.
			p.smallLne Ewentualne reklamacje związane z płatnością prosimy zgłaszać na stronie <a href="https://www.rushpay.pl" class="greenLink" target="_blank">rushpay.pl</a>

			p.smallLne W przypadku awarii serwisu konta Użytkowników premium zostaną odpowiednio przedłużone.
			p.smallLne Zakazane jest odpłatne lub bezpłatne udostępnianie konta osobom trzecim.

			p.smallLne Nie udzielamy gwarancji na poprawność działania naszej usługi, ponieważ jej jakość zależy od podmiotów trzecich takich jak: serwisy udostępniające wideo, twojego urządzenia i jego poprawnej konfiguracji, twojego dostawcy usług internetowych. 

			p Usługa premium może niepoprawnie działać gdy: (1) dostawca twojego internetu nie posiada odpowiedniej jakości połączeń do centrum danych z zamieszczonym wideo. (2) twoje urządzenie jest zawirusowane. (3) posiadasz dodatki oraz rozszerzenia blokujące do przeglądarki. (4) twój antywirus lub dostawca usług blokuje ruch internetowy. (5) twoje łącze jest niestabilne lub zbyt wolne (internet mobilny). 

			h3.subTitle Postanowienia końcowe.

			p.smallLne Rozstrzyganie ewentualnych sporów powstałych pomiędzy Usługodawcą a Użytkownikiem, który nie jest Konsumentem, zostaje poddane sądowi właściwemu ze względu na siedzibę Usługodawcy.
			p.smallLne Usługodawca ma prawo dokonać zmiany Regulaminu wiążącego Użytkownika, z wyłączeniem Użytkowników będących Konsumentami. W tym celu Usługodawca przekaże Użytkownikom, których zmiany dotyczą, stosowne powiadomienie wraz ze wskazanie wprowadzanych zmian. Powiadomienie będzie zawierać termin wejścia zmian w życie, a nastąpi to drogą elektroniczną, na podany przy rejestracji adres e-mail, najpóźniej w dniu wprowadzenia zmian.
			p.smallLne Zmieniony Regulamin wiąże Użytkownika, jeśli ten w terminie 14 dni od daty otrzymania informacji o jego zmianie nie oświadczy drogą elektroniczną, na adres: <a href="mailto:kontakt@fili.cc" style="color: #20da24">kontakt@fili.cc</a>, że nie akceptuje wprowadzonych w Regulaminie zmian. W przypadku złożenia takiego oświadczenia Umowa ulega rozwiązaniu, a Konto Użytkownika zostanie usunięte. Niezłożenie powyższego oświadczenia we wskazanym wyżej terminie oznacza zaakceptowanie przez Użytkownika zmian w Regulaminie.
			p.smallLne Uznanie poszczególnych postanowień niniejszego Regulaminu w sposób przewidziany prawem za nieważne bądź nieskuteczne, nie wpływa na ważność czy skuteczność pozostałych postanowień Regulaminu. W miejsce nieważnego postanowienia zastosowana będzie reguła, która jest najbliższa celom nieważnego postanowienia i całego niniejszego Regulaminu i zarazem zgodna z przepisami obowiązującego prawa.
			p.smallLne Umowa o świadczenie Usług może być zawarta tylko i wyłącznie w języku polskim. W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie przepisy obowiązującego na terytorium Rzeczypospolitej Polskiej prawa.
			p.smallLne Aktualny Regulamin jest publikowany w Serwisie Fili.cc w sposób umożliwiający jego przechowywanie i wielokrotne odtwarzanie w zwykłym toku czynności.
			p.smallLne Regulamin wchodzi w życie z dniem 06-04-2018 r.


































			

